<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center mb-8 row">
        <div class=" col-md-6">
            <img src="assets/img/404.png" alt=""
                class="img-fluid">
        </div>
        <div class=" col-md-6 mt-8">
            <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
            <p class="lead">
                The page you’re looking for doesn’t exist.
            </p>
            <a [routerLink]="['']" routerLinkActive="router-link-active"  class="btn btn-primary">Go Home</a>
        </div>