<div class="container">
    <div class="grid grid-nogutter surface-section text-800 py-5">
        <div class="col-12 md:col-6 p-5 text-center md:text-left flex align-items-center ">
            <section>
                <span class="block text-8xl lh-1 p-0 font-bold font">Discover the Recipes</span>
                <div class="text-8xl lh-1 text-primary font-bold mb-3 font">YOU DESERVE</div>
                <p class="mt-0 mb-5 text-700 line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="container d-flex gap-2 ">
                    <!-- <app-register></app-register>
                    <app-login></app-login> -->
                </div>
            </section>
        </div>
        <div class="col-12 md:col-6 overflow-hidden">
            <img src="assets/img/hero-img.png" alt="Image" class="hero-img md:ml-auto p-6 block md:h-full" style="width: 75%;">
        </div>
    </div>
</div>

