<div class="browse container">
    <div class="row justify-content-center">
      <div *ngIf="isLoading; else loaded">
        <div class="card" style="display: flex; justify-content: center; align-items: center;">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </div>
      <ng-template #loaded>
        <div *ngIf="!recipeFound; else found">You have not posted any recipes yet</div>
        <ng-template #found>
          <div class="col-md-4 col-sm-8 col-xs-16" *ngFor="let recipe of getRecipesForPage(currentPage); let i = index">
            <div class="card mb-3 recipe-card">
              <a [routerLink]="['/recipes', recipe.id]">
                <div class="card-img-container">
                  <img [src]="'https://localhost:7288/' + recipe.image" class="recipe-image" alt="recipe image">
                </div>
                <div class="card-body" style="height: 100px;">
                  <h3 class="card-title">{{ recipe.recipeName }}</h3>
                  <p class="card-text">Ingredients: {{ recipe.ingredients }}</p>
                  <p class="card-rating"></p>
                  <p-rating [(ngModel)]="recipe.rating" [readonly]="true" [cancel]="false"></p-rating>
                </div>
              </a>
              <div class="btn-container align-self-end">
                <button class="btn btn-outline-primary mx-1" (click)="editRecipe(recipe.id)">Edit</button>
                <button class="btn btn-outline-danger" (click)="showConfirm(recipe.id)">Delete</button>
                
<div>
  <p-toast position="bottom-center" key="confirm" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid">
                <div class="col-6">
                    <button type="button" pButton (click)="deleteRecipe()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
    </p-toast>
    <p-toast [life]="3500"></p-toast>
    <!-- <button type="button" pButton pRipple (click)="showConfirm()" label="Confirm"></button> -->
</div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div class="my-8">
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="rows" [totalRecords]="recipes.length"></p-paginator>
  </div>
  