<div class="browse container">
    <div class="row justify-content-center">
      <div *ngIf="isLoading; else loaded">
        <div class="card" style="display: flex; justify-content: center; align-items: center;">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </div>
      <ng-template #loaded>
        <div *ngIf="!recipeFound; else found">No Recipes were found in the database</div>
        <ng-template #found>
          <div class="col-md-4 col-sm-8 col-xs-16" *ngFor="let recipe of getRecipesForPage(currentPage); let i = index">
            <div class="card mb-3 recipe-card">
              <a [routerLink]="['/recipes', recipe.id]">
                <div class="card-img-container">
                  <img [src]="'https://localhost:7288/' + recipe.image" class="recipe-image" alt="recipe image">
                </div>
                <div class="card-body" style="height: 100px;">
                  <h3 class="card-title">{{ recipe.recipeName }}</h3>
                  <p class="card-text">Ingredients: {{ recipe.ingredients }}</p>
                  <p class="card-rating"></p>
                  <p-rating [(ngModel)]="recipe.rating" [readonly]="true" [cancel]="false"></p-rating>
                </div>
              </a>
              <div class="btn-container">
                <button class="btn btn-primary btn-sm" (click)="editRecipe(recipe.id)">Edit</button>
                <button class="btn btn-danger btn-sm" (click)="deleteRecipe(recipe.id)">Delete</button>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <p-paginator (onPageChange)="onPageChange($event)" [rows]="rows" [totalRecords]="recipes.length"></p-paginator>
  