<div class="container">
    <div class="row my-5">
        <div *ngFor="let recipe of recipes" class="col-md-4">
            <div class="card mb-3 recipe-card w-75 m-auto overflow-hidden">
                <a [routerLink]="['/recipes', recipe.id]">
                    <div class="card-img-container">
                        <img [src]="'https://localhost:7288/' + recipe.image" class="recipe-image img-fluid rounded-3" alt="recipe image">
                    </div>
                    <div class="card-body text-center" style="height: 100px;">
                        <h3 class="card-title">{{ recipe.recipeName }}</h3>
                        <p class="card-rating"></p>
                        <p-rating [(ngModel)]="recipe.rating" [readonly]="true" [cancel]="false"></p-rating>
                    <!-- <p-rating class="mt-2" [(ngModel)]="value" [cancel]="false"></p-rating> -->
                </div>
                </a>
                <p-button icon="" label="Remove from favourites" class="m-auto hoverBtn"></p-button>
            </div>
        </div>
    </div>
</div>