<div class="header fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="logo navbar-brand" routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}">
                <span class="mealify-text">Mealify</span><span class="dot">.</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="options navbar-nav">
                    <div class="collapse navbar-collapse" id="navbarNavDropdown"> 
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/Browse" routerLinkActive="active" >Recipes</a>
                        </li>
                    </div>
                
                </div>
                <div class="search-box">
                    <div class="collapse navbar-collapse" id="navbarNavDropdown"> 
                        <li  class="search navbar-nav">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText [(ngModel)]="searchValue"  placeholder="Search" (keyup.enter)="searchRecipe()"
                                aria-label="Search">
                            </span>
                        </li>
                    </div>
                </div>
                    
                    
                <div class="end navbar-nav">
                    <div class="collapse navbar-collapse" id="navbarNavDropdown"> 
                        <div *ngIf="!isLogged">
                            <p-toast></p-toast>
                            <p-menu #menu [model]="items" [popup]="true"></p-menu>
                            <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars" label="" class="custom-button"></button>
                        </div>

                        <li *ngIf="isLogged" class="login nav-item">
                            <a class="nav-link" routerLink="/Login">Login</a>
                        </li>
                        <li *ngIf="isLogged" class="register nav-item">
                            <a class=" nav-link" routerLink="/Register" style="color: white;">Sign Up</a>
                        </li>
                        <!-- <li *ngIf="isLogged" class="logout nav-item">
                            <a class=" nav-link" (click)="logOut()" routerLink="/Register" style="color: white;">Sign Out</a>
                        </li>  -->
                    </div>
                </div>
    </nav>
</div>