.active {
    border-bottom: 2px solid rgb(238, 80, 80);
}
.header{ 
  justify-content: space-around;
  
  height: 70px;
    nav {
      background-color: white;
  
      .navbar-brand {
        font-size: 2em;
        font-weight: bold;
      }
      .logo {
        flex-grow: 2;
        margin-right: 10rem;
        text-align: center;
      }
      .options {
        //margin-right: rem;
        font-size: 19px;
        flex-grow: 4;
      .nav-link {
        &.active {
          color: #e8073f;
          }
        }
      }
      .mealify-text {
        color: black; /* Set the color of the text part (Mealify) */
      }
      
      .dot {
        color: red; /* Set the color of the dot */
      }
  
      .recipes {
        border-bottom: 1px solid red;
        padding-bottom: 5px;
      }
  
    .search-box {
      flex-grow: 2;
    
      input {
        width: 100%;
      }
      input {
        border-radius: 10px;
      }
      
    }
    .p-input-icon-left input {
      
      width: 350px; 
      border-radius: 15px;
    }
    .pull-right {
      float: right !important;
  }
    .end {
      margin-right: 2rem;
      //flex-grow: 1;
      font-size: 19px;
      .login {
        padding-left: 10px;
        padding-right: 10px;
        p {
          margin: 0;
        }
        
      }
      .custom-button {
        background-color: #f95663;
        color: rgb(255, 255, 255); 
        //font-size: 19px !important;
        padding: 8px 5px; 
        border-color: white;
        border-radius: 20px;
      }
      .login:hover{
        
        border-bottom: 2px solid #ea3e4c;
      }
      .register {
        padding-left: 10px;
        padding-right: 10px;
        background-color: #ea3e4c;
        border-radius: 10px;
        margin: 0;
      }
      .register:hover{
        background-color: #d33f4b;
      }

    }
}
}