<div class=" flex flex-wrap justify-content-center gap-3 p-0">
    <span class="p-input-icon-left  m-auto py-2">
      <i class="pi pi-search"></i>
      <input type="text" pInputText [(ngModel)]="value" (keyup.enter)="onSearch()" placeholder="Search" />
    </span>
  </div>
  <div *ngIf="recipes.length > 0">
    <h2>Recipes:</h2>
    <ul>
      <li *ngFor="let recipe of recipes">
        <h3>{{ recipe.recipeName }}</h3>
        <p>Ingredients: {{ recipe.ingredients }}</p>
        <p>Steps: {{ recipe.steps }}</p>
      </li>
    </ul>
  </div>
  