.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem; /* Adjust the gap between elements as needed */
  }
  
  .p-input-icon-left input {
    width: 350px; 
  }
  
 