<div class="browse container mt-3 mb-8">
  <div class="row justify-content-center">
    <div *ngIf="isLoading; else loaded">
      <div class="card" style="display: flex; justify-content: center; align-items: center;">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </div>
    <ng-template #loaded>
      <div *ngIf="!recipeFound; else found">No Recipes were found in the database</div>
      <ng-template #found>
        <div class="filter-wrapper">
          
          <p-dropdown
            [options]="sortOptions"
            [(ngModel)]="selectedSortOption"
            optionLabel="label"
            [placeholder]="'Sort by'"
            (onChange)="onSortOptionChange()"
          ></p-dropdown>
        
          <p-multiSelect
            [options]="ingredients" 
            [(ngModel)]="selectedIngredients" 
            [placeholder]="'Ingredients'"
            (onChange)="onFilterOptionChange()"
          ></p-multiSelect>
          
        </div>
        
        <div class="col-md-4 col-sm-8 col-xs-16" *ngFor="let recipe of getRecipesForPage(currentPage); let i = index">
          <div class="card mb-3 recipe-card">
            <a [routerLink]="['/recipes', recipe.id]">
              <div class="card-img-container">
                <img [src]="'https://localhost:7288/' + recipe.image" class="recipe-image rounded-3" alt="recipe image">
              </div>
              <div class="card-body text-center" style="height: 100px;">
                <h3 class="card-title">{{ recipe.recipeName }}</h3>
                <p class="card-text">Ingredients: {{ recipe.ingredients }}</p>
                <p class="card-rating"></p>
                <p-rating [(ngModel)]="recipe.rating" [readonly]="true" [cancel]="false"></p-rating>
                <!-- <p-rating class="mt-2" [(ngModel)]="value" [cancel]="false"></p-rating> -->
              </div>
            </a>
          </div>
        </div>
      </ng-template>
    </ng-template>
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="rows" [totalRecords]="recipes.length"></p-paginator>
  </div>
</div>